
$primary-color: #fff;
$primary-color-darken: darken($primary-color,80%);
$primary-color-lighter:lighter($primary-color,40%);
$secondary-color: #000;
$bg-primary: #112005;
$bg-secondary: #4f9d92;
$shadow: rgba(0,0,0,0.3);


  %box-shared{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 3px 19px 0px $shadow;
    cursor: pointer;
  }

  .box-primary{
    @extend %box-shared;
    background-color: $bg-primary;
    color: $primary-color;
    &:hover{
        box-shadow: none;
    }
  }

  .box-primary-darker{
    @extend %box-shared;
    background-color: $primary-color-darken;
    color: $primary-color;
    &:hover{
        box-shadow: none;
    }
  }

  .box-primary-lighter{
    @extend %box-shared;
    background-color: $primary-color-lighter;
    color: $primary-color;
    &:hover{
        box-shadow: none;
    }
  }

  .box-secondary{
    @extend %box-shared;
    background-color: $bg-secondary;
    color: $secondary-color;
    &:hover{
        box-shadow: none;
    }
  }